<div>
  <div *ngIf="character">
    <p>Name: {{ character.Name }}</p>
    <p>Level: {{ character.Level }}</p>
    <p>MaxHP: {{ character.MaxHP }}</p>
    <p>Attack: {{ character.Attack }}</p>
    <p>Defense: {{ character.Defense }}</p>
    <p>MagicResistance: {{ character.MagicResistance }}</p>
    <p>AttackInterval: {{ character.AttackInterval }}</p>
    <p>RedeployTime: {{ character.RedeployTime }}</p>
    <p>DeployCost: {{ character.DeployCost }}</p>
    <p>BlockCount: {{ character.BlockCount }}</p>
    <p>Rarity: {{ character.Rarity }}</p>
    <p>EliteLevel: {{ character.EliteLevel }}</p>
  </div>
</div>
